.LlistatNaus {
  /* background-color: green; */
  background-image: url(https://www.komar.de/en/media/catalog/product/cache/5/image/9df78eab33525d08d6e5fb8d27136e95/8/-/8-487_star_wars_intro_ma.jpg);
  background-size: cover;
  height: 98vh;
  font-size: 1.5em;
  color: rgb(21, 255, 0);
}
.LlistatNaus li{
  padding-left: 3em;
  /* margin-top: 1em; */
}
.LlistatNaus h3{
  padding-left: 3em;
  padding-top: 2em;
}
.menuBarTop {
  z-index: 1;
  max-height: em;
  background-color: grey;
}

/* Redefinir estils */

button {
  background-color: #4caf50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(8px + 2vmin);
}

img {
  display: block;
  /* width: 50%; */
  max-height: 100%;
}

/* Estils aplicacio */

.App {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  background-color: green;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: black;
  border: 1px solid white;
  /* min-height: 100vh; */
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  padding-top: 15px;
}

.App-titles {
  text-align: center;
  max-height: min-content;
}

.App-body {
  flex: 0 0 25em;
  /* background-color: black; */
  background-image: url(https://www.komar.de/en/media/catalog/product/cache/5/image/9df78eab33525d08d6e5fb8d27136e95/8/-/8-487_star_wars_intro_ma.jpg);
  background-size: cover;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App.CosPagNaus1 {
  /* background-color: black; */
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 2vmin);
  min-width: 38vw;
  max-width: 38vw;
  max-height: 75vh;
}

.App-CosUnaNau {
  align-items: flex-start;
  /* background-color: black; */
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 2vmin);
  min-width: 60vw;
  max-width: 60vw;
  max-height: 75vh;
}

.App-footer {
  /* background-color: black; */
  border: 1px solid white;
  display: flex;
  flex-direction: col;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
